.subRedditWrapper {
  display: flex;
  width: 300px;
  box-shadow: 0 0em 0.7em var(--shadow);
  border-radius: 10px;
  padding: 8px 0px 8px 5px;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.iconImg {
  max-width: 45px;
  max-height: 45px;
  border-radius: 55px;
  margin-right: 10px;
}

h4,
h5 {
  margin: 0;
}

h5 {
  font-weight: 400;
}