.header{
  width: 100%;
  display: flex;
  background-color: var(--bluewu);
  height: var(--navHeight);
  position: fixed;
  justify-content: center;
  align-items: center;
}

.logo{
  position: absolute;
  left: 15px;
  height: 63px;
}

.searchBar{
  width: 375px;
  height: 40px;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  font-family: 'Roboto', sans-serif;
}
